
@font-face {
  font-family: Bolde;
  src: url("../fonts/GothamBold.ttf");
}
@font-face {
  font-family: Semi-Bold;
  src: url("../fonts/semibold.ttf");
}
@font-face {
  font-family: Reg;
  src: url("../fonts/Gotham-Book.otf");
}


p{
  font-family: 'Reg';
color: black;
font-size: 17px;
    margin: .5em 0 1em;
}
.sub-header{
  font-family: 'Bolde';
    font-size: 26px;
    color: black;
    letter-spacing: -.01em;
    margin-top: 30px;
        margin-bottom: 12px;
}
.Header-Home{
  font-family: 'Bolde';
  color: black;
  font-size: 48px;
  letter-spacing: -.02em;
  line-height: 1.2;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
.login{
  font-size: 35px;
    font-family: 'Bolde';

}
.top-banner {
  height: 45px;
  background-color: #222;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  color: #999;
  width: 100vw;
  z-index: 10000;
}

.inner-container-top-banner {
  height: 100%;
}

.inner-container-top-banner {
  min-width: 0;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.ulspec li{
  font-size: 18px;
}
hr{
  margin-top: 2rem;
margin-bottom: 2rem;
}
.colcard{
  height: 500px;
}

.top-banner ul {
  position: absolute;
  height: 100%;
  padding-left: 0;
}
li.disabled {
    color: #777777;
    text-decoration: line-through;
}
.left {
  left: 0;
}

ul {
  list-style-position: inside;
  margin: 0;
}

.right {
  right: 0;
}
#back{
  display: none;
}
.top-banner ul li a {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  opacity: .5;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  text-decoration: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper-banner {
  position: relative;
  height: 100%;
}

.top-banner ul li {
  list-style: none;
  display: inline-block;
  height: 100%;
  position: relative;
  line-height: 20px;
      float: left;
  font-size: 12px;
}

.account-link {
  padding: 10px 20px;
}

.top-banner ul li .a-icon {
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.a-text {
  padding-left: 25px;

    font-weight: 700;
    text-transform: capitalize;
}

.homeImage {
  height: 100vh;
  background-color: black;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(../images/headphones.jpg)no-repeat center;
  background-position: center;
  background-size: cover;
}

.title-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 150px;
}

.title {
  font-family: 'Muli';
  font-weight: 900;
  color: white;
  font-size: 5vw;
}

.plans-button {
  width: 300px;
  height: 60px;
  background-color: #24CF5F;
  border-radius: 100px;
  margin-top: 50px;
}

.plans-button-link {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-nav {
  width: 100vw;
  height: 115px;
  position: fixed;
  transition: height 0.3s linear 0s, padding 0.3s linear 0s;
  z-index: 100;
}

.inner-container-nav {
  position: relative;
  padding-left: 150px;
  padding-right: 150px;
  height: 100%;
}

.nav-logo {
  background-image: url(../images/logo.png);
  width: 170px;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-absolute {
  position: absolute;
  height: 100%;
  padding-left: 0;
}

.center-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menu-item {
  padding-left: 25px;
  font-family: 'Muli';
  font-weight: 900;
  color: #cfcfcf;
  font-size: 19px;
  letter-spacing: .5px;
}

#menu-item:hover {
  color: white;
}

ul {
  list-style: none;
}

.info-container {
  width: 100vw;
  display: flex;
}

.info {
  width: 50vw;
  padding: 3vw;
}

.info-box {
  margin: 70px;
  display: block;
}

.info-header {
  padding-bottom: 30px;
  font-family: 'Muli';
  font-size: 25px;
}

.info-content {
  font-family: 'open sans';
  font-size: 23px;
  color: black;
}

#infoimg {
  background-image: url(../images/v10.gif);
  background-position: center;
  background-size: cover;
  z-index: -1;
  height: 100vh;
}
#outline {
  background-image: url(../images/outline.png);
  background-position: center;
  background-size: cover;
  z-index: -1;

}
.box-container-main{
height: 75vh;
width: 100vw;
background-color: #50de76;
display: table;
min-height: 600px;
overflow: auto;
}
.maintext-img {
    width: 50vw;
    height: 100%;
    background-image: url(img/maintext.png);
    background-position: center;
    background-size: cover;
    display: table-cell;
}
.maintext-div{
  width: 50vw;
  float: left;
  height: 75vh;

}
.white{
  color: white;
}

/*.btn{
  padding: 1rem 5rem;
    font-size: 1.2rem;
}*/
.btn-primary {
    color: #fff;
    background-color: #1ed760;
    border-color: #1ed760;
    border-radius: 100px;
}
a:hover{
  text-decoration: none;
}
.deal-container{
  width: 100vw;
height: 40vh;
min-height: 400px;
background-color: #141414;
}
.subtitle {
    margin-bottom: 40px;
    color: white;
}
.jumbotron{
    background-color: #ff3c3c;
    padding-bottom: 50px;
    padding-top: 60px;
    margin-bottom: 0px !important;
    text-align: center;
}
.plansrow{
  padding-top: 100px;
    padding-bottom: 100px;
}
.Deal{
  font-family: 'Bolde';
color: white;
font-size: 35px;
}
.deal-button{
  margin: 0 auto;
  margin-top: 25px;
}
.admin-div{
  width: 100vw;
  height: 500px;
  background-color: black;
  text-align: center;
}
.whatson{
  position: absolute;
right: 0;
}

@media (min-width: 769px) {
  .inner-container-top-banner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 769px) {
  .colcard{
    min-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 950px) {
  .whatson{
    display: none;
  }
  #main-text{
     flex: none;
     width: 70vw;
     max-width: none;
  }
  #outline{
    display: none;
  }
  .maintext-div{
    width: 100vw;
    margin: 0 auto;
  }
  .itseasy{
    margin: 0 auto;
    flex: none;
    width: 82vw;
    max-width: none;
  }

}


/*dashboard*/
/*
 * Base structure
 */



/*
 * Global add-ons
 */

.colour{
  width: 50%;
    height: 100px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.admin-settings{
  padding-bottom: 50px;
  margin-left: 20px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
@media (max-width: 630px) {
  .itseasy{
    padding-bottom: 25px;
padding-top: 65px;

  }
  .maintext-div{
    min-height: 735px;
  }
  .sidebar{
    display: block !important;
  }
  .inner-container-nav{
    padding-left: 20px;
    padding-right: 20px;
  }
  .plans-button {
    width: 200px;
    height: 40px;
    background-color: #24CF5F;
    border-radius: 100px;
    margin-top: 50px;
}
.title-container{
  padding-left: 50px;
}
.title{
  font-size: 50px;
}
.plans-button-link{
  font-size: 19px;
}
.container{
  position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.plansrow{
  padding-top: 0px;
    padding-bottom: 0px;
}
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
